.card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  border: 5px solid green;
  width: 100%;
}
.card {
  text-align: center;
  border-radius: 8px;
  list-style-type: none;
  background-color: #282727;
  margin: 15px;
  padding: 5px;
  flex: 0 0 22%;
  height: 206px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .movie-list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1140px) {
  .card {
    flex: 1 0 44%;
  }
  .container {
      margin: auto !important;
      width: 100% !important;
  }
}

@media only screen and (max-width: 767px) {
  .card {
    flex: 0 0 90%;
  }
}

body {
  background-color: black;
}
.movie-name {
  color: #edec51;
  line-height: 41px;
}
.movie-release-date {
  color: white;
  font-weight: 100;
}

.container {
  margin: auto;
  width: 83%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
